---

import EndlessCarousel from "./EndlessCarousel";
import BlogPost from "./BlogPost.astro";

const { postsCollection, posts } = Astro.props;
const pathname = Astro.url.pathname;
const isRu = pathname.startsWith('/ru');
const prefix = isRu ? '/ru' : '';

const itemsWithClone = [posts[posts.length - 1], ...posts, posts[0]];
---
<div class="overflow-x-auto snap-x snap-mandatory flex gap-4 py-4" role="region" aria-label="Recent posts">
  {
    itemsWithClone.map((post: any, index: number) => (
      <div class='carousel-box min-w-[80%] md:min-w-[45%] lg:min-w-[30%] snap-center' id={index.toString()}>
        <BlogPost
          url={`${prefix}/${postsCollection}/${post.slug}`}
          title={post.title}
          img={post.imageUrl}
          description={post.description}
          pubDate={post.pubDate}
        />
      </div>
    ))
  }
</div>
