---

import EndlessCarousel from "./EndlessCarousel";
import BlogPost from "./BlogPost.astro";

const { postsCollection, posts } = Astro.props;

const itemsWithClone = [posts[posts.length - 1], ...posts, posts[0]];
---
<EndlessCarousel client:load items={itemsWithClone}>
  {
    itemsWithClone.map((post: any, index: number) => (
      <div class='carousel-box' id={index.toString()}>
        <BlogPost
          url={`/${postsCollection}/${post.slug}`}
          title={post.title}
          img={post.imageUrl}
          description={post.description}
          pubDate={post.pubDate}
        />
      </div>
    ))
  }
</EndlessCarousel>
