---
import BaseLayout from "./BaseLayout.astro";
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import i18next from "i18next";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    {
      frontmatter.pubDate.toLocaleDateString(i18next.language, {
        month: "2-digit",
        day: "2-digit",
        year: "numeric",
      })
    }
  </p>

  <p><em>{frontmatter.description}</em></p>

  <p>{t("blogpostLayout.author")}{frontmatter.author}</p>

  <img src={frontmatter.image.url} width="600" alt={frontmatter.image.alt} />

  <div class="tags">
    {
      frontmatter.tags.map((tag: any) => (
        <p class="tag">
            <a href={localizePath(`/tags/${tag}`)}>{t(`tags.${tag}`) !== `tags.${tag}` ? t(`tags.${tag}`) : tag}</a>
        </p>
      ))
    }
  </div>
  <div class="md">
    <slot />
  </div>
  <script>
    const selector = document.querySelector("select");
    if (selector !== null) {
      selector.addEventListener("change", () => {
        let postsCollection = "posts";
        const currentURL = new URL(window.location.href);
        let pathSegments = currentURL.pathname.split("/");
        pathSegments = pathSegments.filter(Boolean);
        if (!pathSegments.includes("ru")) {
          postsCollection = "postsRu";
          pathSegments.unshift("ru");
        } else {
          pathSegments.splice(pathSegments.indexOf("ru"), 1);
        }
        pathSegments[pathSegments.length - 2] = postsCollection;
        const modifiedPathname = pathSegments.join("/");
        currentURL.pathname = modifiedPathname;
        window.location.href = currentURL.toString();
      });
    }
  </script>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }

  .md {
    font-weight: 200;
  }
</style>
